@media (max-width: 500px) {
    footer{
        p{
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            font-size: 0.7rem;
        }
        div{
            .numeros{
                font-size: 0.7rem;
                margin: 0.4rem;
            }
        }
    }
}